* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
        "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: #553055;
}

.App {
    width: 90vw;
    max-width: 700px;
    margin: 20px auto;
    color: #eee;
    background: #4c2a4c;
}

.navbar {
    padding: 10px 20px;
    background: #6d3d6d;
    text-align: center;
}

.navbar h1 {
    margin: 10px 0;
}

.book-list {
    margin: 20px;
}

.book-list ul {
    padding: 0;
    list-style-type: none;
}

.book-list li {
    position: relative;
    padding: 10px;
    border-radius: 4px;
    margin: 10px 0;
    background: #6d3d6d;
    transition: all 0.5s ease-in-out;
    overflow: hidden;
}

.book-list li:hover p {
    opacity: 0.1;
    text-decoration: line-through;
}

.book-list p {
    margin: 0;
    transition: all 0.5s ease-in-out;
}

.book-list .title {
    color: #fff;
    font-size: 1.2em;
    font-weight: bold;
    text-transform: capitalize;
}

.book-list .author {
    color: #ddd;
    font-size: 0.9em;
    text-transform: capitalize;
}

.book-list button {
    position: absolute;
    top: 50%;
    left: 50%;
    display: block;
    padding: 6px 20px;
    border: 0;
    border-radius: 4px;
    margin: 0;
    color: #6d3d6d;
    background: #eee;
    text-transform: capitalize;
    visibility: hidden;
    transition: all 0.9s ease-in-out;
    transform: translate(-100vw, -50%);
    cursor: pointer;
}

.book-list li:hover button {
    visibility: visible;
    transform: translate(-50%, -50%);
}

.book-list button:hover {
    border-radius: 6px;
    color: #fff;
    background: #4c2a4c;
}

.empty {
    margin: 20px;
    text-align: center;
}

form {
    padding: 20px;
}

input {
    border: 0;
    border-radius: 4px;
}

input[type="text"] {
    width: 100%;
    padding: 10px;
    margin: 6px 0;
    color: #fff;
    background: #3c1f3c;
    text-transform: capitalize;
}

input[type="submit"] {
    display: block;
    padding: 6px 20px;
    margin: 6px auto;
    color: #6d3d6d;
    background: #eee;
    cursor: pointer;
    text-transform: capitalize;
    transition: all 0.7s ease-in-out;
}

input[type="submit"]:hover {
    border-radius: 6px;
    color: #fff;
    background: #6d3d6d;
}
